body{
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#compteur{
  position: absolute;
  margin: 10% 10%;
}

.case{
  position: absolute;
  width: 30%;
  height: 40%;
  margin: 10% 30%;
  border: 3px solid black;
}

.case:hover{
  cursor : pointer
}
