#inventaire{
  height : 50px;
  width : 50px;
  border : 2px solid red;
  position : absolute;
  top : 5%;
  left : 95%;
  cursor: pointer;
}

#inventaire img {
  height : 50px;
  width : 50px;
}

#shop{
  height : 50px;
  width : 50px;
  border : 2px solid red;
  position : absolute;
  top : 15%;
  left : 95%;
  cursor : pointer;
}

#shop img {
  height : 50px;
  width : 50px;
}
