@import url('https://fonts.googleapis.com/css?family=Germania+One');

#inventaire{
  height : 50px;
  width : 50px;
  border : 2px solid red;
  position : absolute;
  top : 10%;
  left : 95%;
}

#inventaire img {
  height : 50px;
  width : 50px;
  margin: 0px;
}

#shop{
  height : 50px;
  width : 50px;
  border : 2px solid red;
  position : absolute;
  top : 20%;
  left : 95%;
}

#shop img {
  height : 50px;
  width : 50px;
  margin: 0px;
}

#back{
  height : 50px;
  width : 50px;
  border : 2px solid red;
  position : absolute;
  top : 30%;
  left : 95%;
  visibility: hidden;
}

#back img {
  height : 50px;
  width : 50px;
  margin: 0px;
}

#ouvrshop {
  position :absolute;
  max-height: 1000px;
  max-width: 1250px;
  height : 90%;
  width : 87%;
  top: 9%;
  left: 12%;
  background: linear-gradient(white,yellow,orange,red);
  visibility: hidden;
}

#ouvrinventaire {
  position :absolute;
  max-height: 1000px;
  max-width: 1250px;
  height : 90%;
  width :87%;
  top: 9%;
  left: 12%;
  background: linear-gradient(red,orange,yellow,white);
  visibility: hidden;
}

#inventbombe {
  border : 2px solid black;
  position : absolute;
  height: 200px;
  width: 200px;
  top: 5%;
  left: 5%;
}

#inventbombe img{
  visibility: hidden;
  height : 200px;
  width : 200px;
  }

#inventbateau {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 5%;
  left: 75%;
}

#inventbateau img{
  visibility: hidden;
  height : 197px;
  width : 200px;
}

#inventrecrue {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top : 35%;
  left: 40%;
  text-align: center;
}

#inventscaphandre {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top  : 65%;
  left: 5%;
}

#inventscaphandre img{
  visibility: hidden;
  height : 200px;
  width : 200px;
}

#inventcombi {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 65%;
  left: 75%;
}

#inventcombi img{
  visibility: hidden;
  height : 200px;
  width : 200px;
}

#vente {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 5%;
  left: 5%;
  overflow: visible;
}

#ventbombe{
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 5%;
  left:40%;
  overflow: visible;
}

#ventbateau{
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 5%;
  left: 75%;
  overflow: visible;
}

#ventfinal{
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 38%;
  left: 40%;
  overflow: visible;
}

#ventscaphandre{
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 70%;
  left: 5%;
  overflow: visible;
}

#ventcombi{
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 70%;
  left: 40%;
  overflow: visible;
}

#ventrecrue{
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 70%;
  left: 75%;
  overflow: visible;
}

.deco{
  position:absolute;
  top:190px;
  left: 70px;
}


#ventbombe img{
  visibility: hidden;
  height : 200px;
  width : 200px;
}

#ventbateau img{
  visibility: hidden;
  height : 197px;
  width : 200px;
}

#ventrecrue img{
  visibility: hidden;
  height : 200px;
  width : 200px;
}

#ventscaphandre img{
  visibility: hidden;
  height : 200px;
  width : 200px;
}

#vente img{
  visibility: hidden;
  height : 200px;
  width : 200px;
}

#ventcombi img{
  visibility: hidden;
  height : 200px;
  width : 200px;
}

#ventfinal img{
  visibility: hidden;
  height : 200px;
  width : 200px;
}
