@import url('https://fonts.googleapis.com/css?family=Germania+One');
*{
  padding: 0;
  margin: 2px;
  overflow: hidden;
  font-family: Germania One, sans-serif;
}

#workSpace{
  position: absolute;
  width: 99%;
  min-width: 1235px;
  max-width: 1585px;
  height: 98%;
  min-height: 600px;
  max-height: 1075px;
}

#workSpace img{
  height: 90%; width: 100%;
}

map{
  cursor: pointer;
}

#workSpace[usemap] {
  height: auto;
  max-width: 100%;
  width: auto;
}

.mineral{
  position: absolute;
  color: red;
  width: 10%;
}

/* #minerals {
  position: absolute;
} */
