*{
  padding: 0;
  margin: 2px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#workSpace{
  position: absolute;
  width: 99%;
  min-width: 1235px;
  max-width: 1585px;
  height:98%;
  min-height: 600px;
  max-height: 770px;
}

map{
  cursor: pointer;
}

#compteur{
  position: absolute;
  color: red;
}
