@import url('https://fonts.googleapis.com/css?family=Germania+One');
*{
  padding: 0;
  margin: 2px;
  /* overflow: hidden; */
  font-family: Germania One, sans-serif;
}

#inventaire{
  height : 50px;
  width : 50px;
  border : 2px solid red;
  position : absolute;
  top : 5%;
  left : 95%;
  cursor: pointer;
}

#inventaire img {
  height : 50px;
  width : 50px;
  margin: 0px;
}

#shop{
  height : 50px;
  width : 50px;
  border : 2px solid red;
  position : absolute;
  top : 15%;
  left : 95%;
  cursor : pointer;
}

#shop img {
  height : 50px;
  width : 50px;
  margin: 0px;
}

#back{
  height : 50px;
  width : 50px;
  border : 2px solid red;
  position : absolute;
  top : 25%;
  left : 95%;
  cursor: pointer;
  visibility: hidden;
}

#back img {
  height : 50px;
  width : 50px;
  margin: 0px;
}

#ouvrshop {
  position :absolute;
  height : 95%;
  width :90%;
  background-color: yellow;
  visibility: hidden;
}

#ouvrinventaire {
  position :absolute;
  height : 95%;
  width :90%;
  background-color: red;
  visibility: hidden;
}

#inventbombe {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 5%;
  left: 5%;
}

#inventbateau {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 5%;
  left: 75%;
}

#inventrecrue {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top : 40%;
  left: 40%;
  text-align: center;
}

#inventscaphandre {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top  : 70%;
  left: 5%;
}

#inventcombi {
  border : 2px solid black;
  position : absolute;
  height : 200px;
  width : 200px;
  top: 70%;
  left: 75%;
}
