@import url('https://fonts.googleapis.com/css?family=Germania+One');
*{
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: Germania One, sans-serif;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none; user-select: none;
}

#workSpace{
  position: absolute;
  width: 100%;
  min-width: 1000px;
  max-width: 2100px;
  height: 100%;
  min-height: 600px;
  max-height: 1200px;
}

#workSpace img{
  height: 100%; width: 100%;
}

map{
  cursor: pointer;
}

#workSpace[usemap] {
  height: auto;
  max-width: 100%;
  width: auto;
}

.arrows {
  font-size: 6em;
  position: absolute;
  cursor: pointer;
}

#left_arrow {
  left: 0%;
  top: 40%;
}

#right_arrow {
  left: 96%;
  top: 40%;
}

.mineral{
  position: absolute;
  display: inline-block;
  color: red;
  margin: 1%;
  width: 10%;
  font-size: 2em;
}

#rock {
  left: 0%; top: 0%;
}

#coal {
  left: 11%; top: 0%;
}

#gold {
  left: 22%; top: 0%;
}

#diamond {
  left: 33%; top: 0%;
}

#palladium {
  left: 44%; top: 0%;
}

#uranium {
  left: 55%; top: 0%;
}

#emerald {
  left: 66%; top: 0%;
}

#ruby {
  left: 77%; top: 0%;
}

#sapphire {
  left: 88%; top: 0%;
}

#lapis {
  left: 0%; top: 6%;
}
